
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <form id="AddForm">
            <label id="nameLabel">Name</label> &nbsp;
            <input id="Name" name="EmpName" type="text" />

            <br />
            <br />

            <label id="cityLabel">City</label> &nbsp;
            <input id="City" name="EmpName" type="text" />

            <br />
            <br />

            <label id="genderLabel">Gender</label> &nbsp;
            <input id="Gender" name="EmpName" type="text" />

            <br />
            <br />

            <label id="salaryLabel">Salary</label> &nbsp;
            <input id="Salary" name="EmpName" type="text" />
        </form>
    </div>
</body>
</html>
