
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/CustomJSfile.js"></script>

</head>
<body>
    <div>
        <input id="search" type="text" /> &nbsp;
        <input id="searchbtn" type="button" value="Search" onclick="search();" /> &nbsp;
        <input id="edit" type="button" value="Edit" onclick="editUi();"/>
        
    </div>
</body>
</html>
