@model List<MVC_StoredProcedure.Models.Employee>

@{
    ViewBag.Title = "GetEmployee";
    Layout = "~/Views/Shared/EmployeeLayout.cshtml";
    var context = new MVC_StoredProcedure.Models.EmployeeContext();
}

<h5>@DateTime.Now</h5>

<div class="row px-2 py-2">
    @foreach (var item in Model)
    {
        <div class="col py-2">

            <div class="card" style="width: 500px; background-color: rgb(0 0 0 / 20%);">

                <div class="card-header">
                    Employee
                </div>
                <div class="card-body">
                    <pre>
                Name:@item.Name
                Email:@item.Email
                Phone:@item.Phone
                Position:@item.Position
                Department:@context.Departments.Where(s => s.Id == item.DepartmentId).Select(s => s.Name).First()
                </pre>
                    @*@Html.ActionLink(" ", "EditEmployee", new {id=item.Id }, new { @class = "stretched-link" })*@
                </div>
                <div class="card-footer text-center">
                    @Html.ActionLink("Edit", "EditEmployee", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("View", "GetEmpDetails", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>


