
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/Custom.js"></script>

</head>
<body style="background-color:black">
    <section class="mt-3 pt-3">
        <div class="container-md py-3" style="width:400px;">
            <div class="card">
                <div class="card-header">
                    <h6 class="align-content-center">User Profile</h6>
                </div>
                <div class="card-body">
                    <pre>User Name: <label id="studentname">@Session["username"]</label><br />Email: <label id="studentemail">@Session["email"]</label><br />Role: <label id="studentrole">@Session["role"]</label>
                    </pre>
                </div>
                <div class="card-footer">
                    <div class="mx-auto d-grid col-3">
                        <button class="btn btn-primary btn-md mb-2" type="button" id="logoutbtn" onclick="Logout();">Log Out</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
