
@{
    Layout = null;
    string uploadapi = "https://localhost:44347/File";
    

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/Custom.js"></script>
</head>
<body style="background-color:black">
    <section class="mt-3 pt-3">
        <div class="row px-2 py-2">
            <div class="col py-2">
                <div class="card bg-light" style="width:500px;">
                    <div class="card-header">
                        <h6 class="align-content-center">User Profile</h6>
                    </div>
                    <div class="card-body">
                        <pre>User Name:<label id="namelbl"> @Session["username"] </label><br />Email: <label id="emaillbl">@Session["email"]</label><br />Role: <label id="rolelbl">@Session["role"]</label>
                    </pre>
                    </div>
                    @*@Request.Cookies["UserData"]["Name"]*@
                    <div class="card-footer">
                        <div class="mx-auto d-grid col-3">
                            @Html.ActionLink("Log Out", "Logout", "Login", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card bg-light" style="width:500px;">
                    <div class="card-header">
                        File Upload
                    </div>
                    <div class="card-body">
                        <form action="https://localhost:44347/File" method="post" id="uploadform" enctype="multipart/form-data">
                            <div class="row px-2 py-2 mb-2">
                                <div class="col py-2">
                                    <input id="imgfile" type="file" name="inputImg" class="form-control" />
                                </div>
                                
                            </div>
                            <div class="row px-2 py-2 mb-2">
                                <div class="col py-2">
                                    <input id="pdf file" type="file" name="inputPdf" class="form-control" />
                                </div>
                            </div>

                            <div class="mx-auto d-grid col-3">
                                <button tyoe="submut" id="uploadbtn" class="btn btn-primary">Upload</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>
