<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.ForumSiteConnectionString"
            connectionString="Data Source=.;Initial Catalog=ForumSite;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>