
@{
    ViewBag.Title = "About";
}

<div class="container-fluid mt-4">
    <div class="row px-2 py-2 mb-2">
        <div class="col-sm-6">
            <div class="card-header">
                About
            </div>
            <div class="card-body">
                This is My About Page
            </div>
            <div class="card-footer">
                Card Footer
            </div>
        </div>
    </div>
</div>

