
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/CustomJSfile.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>
    <div>
        <form id="AddForm" method="post">
            <label id="nameLabel">Name</label> &nbsp;
            <input id="Name" name="Name" type="text" />

            <br />
            <br />

            <label id="cityLabel">City</label> &nbsp;
            <input id="City" name="City" type="text" />

            <br />
            <br />

            <label id="genderLabel">Gender</label> &nbsp;
            <input id="Gender" name="Gender" type="text" />

            <br />
            <br />

            <label id="salaryLabel">Salary</label> &nbsp;
            <input id="Salary" name="Salary" type="text" />

            <br />
            <br />
            
            <input id="add" type="button" value="Add" onclick="FormSubmit();"/>
        </form>
    </div>
</body>
</html>
